@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");


:root {
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);
  --algebra-Orange: #db7218;
  --algebra-Purple: #c41060;
  --algebra-Gradient: linear-gradient(
    43deg,
    rgba(219, 114, 24, 1) 27%,
    rgba(196, 16, 96, 1) 100%
  );
  --off-white: #f8f9fa;
}

input,
button {
  border: none;
  outline: none;
}

/* navbar */

.nav-link {
  font-size: 17px !important;
  color: rgb(169, 169, 169);
}

/* footer */

.foterWaves {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/svg/layered-waves-haikei.svg");
  position: relative;
  top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Homepage */

.BackgroundVideo {
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.AnimationOverlay {
  z-index: 1;
  position: absolute;
  color: antiquewhite;
}

#TypewriterAnimation {
  color: darkred;
}

#CursorAnimation {
  color: darkred;
  animation: blink182 0.7s linear infinite;
}

@keyframes blink182 {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
}

/* O Nama */

.ONamaMap {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.navbarDropdownAnimation {
  max-height: 0;
  overflow: hidden;
  transition: max-height 3s ease-out;
  border: 0px;
  border-radius: 0;
}

.akreditacijeCards {
  width: 80vw;
}

.akreditacijeCardsGroup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fancyTextGroup {
  width: 100%;
  text-align: center;
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: larger;
  font-family: "Playwrite MX", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.fancyText {
  width: 50vw;
}

.oNamaHeader {
  margin-top: 20px;
  margin-left: 10vw;
  margin-bottom: 0;
}

.orange-line {
  margin-top: 5px;
  margin-bottom: 20px;
  border: none;
  height: 10px;
  background-image: var(--algebra-Gradient);
  width: 30%;
  margin-left: 10%;
  border-bottom-right-radius: 50%;
  opacity: 100;
}

#flex-item-photo-one {
  width: 130px;
  padding-top: 10px;
}

#flex-item-photo-two {
  width: 100px;
  padding-top: 10px;
}

#flex-item-photo-four {
  width: 280px;
  padding-top: 10px;
}

#flex-item-photo-six {
  width: 180px;
  padding-top: 10px;
}

.Location {
  width: 70%;
}

.LocationText {
  padding-left: 20px;
}

/*Novosti*/

.newsImages {
  width: auto;
  height: 100%;
  margin-left: -360px;
  z-index: 10;
} 


.newsButon {
  border-radius: 50%;
  border: 15px solid oldlace;
  height: 300px;
  width: 300px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
}

.newsButontTitleAlignment {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.newsButonGroup {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
  margin: 0 70px;
  
}

.NewsButonTitle{
  position: absolute;
  color: white;
  width: 60%;
  text-shadow: 2px 2px 8px var(--black-color);
}



.newsPreviewBaner {
  width: 100%;
  height: 40vh;
  overflow: hidden;
  position: relative;
}

@keyframes slideInleft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Novosti123 */
.FancyBoxSlikaGroup {
  display: flex;
  justify-content: center;
}
.FancyBoxSlika {
  width: 400px;
  overflow: hidden;
  border-radius: 15px;
  margin: 0 10px;
}

.VideoGroup {
  display: flex;
  justify-content: center;
}

.NewsOneVieo {
  width: 40vw;
  background: var(--algebra-Gradient);
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
}

.NewsTitle {
  font-size: 3vw;
  font-weight: bold;
  color: var(--white-color);
  background-image: var(--algebra-Gradient);
  position: absolute;
  top: 20vh;
  left: 10vw;
  padding: 10px;
  border-radius: 15px;
}

.NewsTextGroup {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

.NewsText {
  width: 70vw;
  font-size: larger;
}

.Banerline {
  margin: 0;
  border: none;
  height: 10px;
  background-image: var(--algebra-Gradient);
  width: 70%;
  border-bottom-right-radius: 100%;
}

/* Signup */

.signUpBackground {
  aspect-ratio: 900/600;
  width: 100vw;
  height: calc(100vh - 60px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/svg/low-poly-grid-haikei.svg");
  top: 60px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: var(--white-color);
}

.signUp {
  position: relative;
  height: 100vh;
  display: grid;
  align-items: center;
}

.signUpForm {
  position: relative;
  background-color: hsla(0, 0%, 10%, 0.1);
  border: 2px solid var(--white-color);
  margin-inline: 1.5rem;
  padding: 2.5rem 1.5rem;
  border-radius: 1rem;
  backdrop-filter: blur(8px);
  width: 20vw;
}

.signUpcontent,
.signUpbox {
  display: grid;
}
.signUpcontent {
  row-gap: 1.75rem;
  margin-bottom: 1.5rem;
}
.signUpbox {
  grid-template-columns: max-content 1fr;
  align-items: center;
  column-gap: 0.75rem;
  border-bottom: 2px solid var(--white-color);
}
.signUpicon,
.signUpeye {
  font-size: 1.25rem;
}
.signUpinput {
  width: 100%;
  padding-block: 0.8rem;
  background: none;
  color: var(--white-color);
  position: relative;
  z-index: 1;
}
.signUpbox-input {
  position: relative;
}
.signUplabel {
  position: absolute;
  left: 0;
  top: 13px;
  font-weight: var(--font-medium);
  transition: top 0.3s, font-size 0.3s;
}
.signUpbox:nth-child(2) input {
  padding-right: 1.8rem;
}

.signUpcheck-label,
.signUpforgot,
.signUpregister {
  font-size: var(--small-font-size);
}

.signUpcheck-input {
  width: 16px;
  height: 16px;
}
.signUpforgot {
  color: var(--white-color);
}
.signUpforgot:hover {
  text-decoration: underline;
}
.signUpbutton {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--white-color);
  font-weight: var(--font-medium);
  cursor: pointer;
  margin-bottom: 2rem;
}

.signUpinput:focus + .signUplabel {
  top: -12px;
  font-size: var(--small-font-size);
}

/* Nastavni plan */

.sectionOne-NastavniPlan {
  display: flex;
  margin-top: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.sectionTwo-NastavniPlan{
  height: 300px;
  width: 30VW;
  padding: 0px 30px;
}


#label-kolegij-header {
  color: var(--black-color);
  font-weight: 700;
  padding-bottom: 10px;
  font-size: large;
}

#nastavni-plan {
  height: 35px;
  width: 25vw;
  padding-left: 5px;
  border-radius: 10px;
  border: var(--algebra-Orange) 5px solid;
}

#nastavni-plan:focus {
  background-color: var(--off-white);
}

.displayKolegij {
  height: 200px;
  width: 600px;
}

#KolegijList {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 45vh;
}

#kolegijItem {
  padding: 5px;
  width: 25vw;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-weight: 700;
  border-radius: 10px;
}

#kolegijItem:hover {
  background-image: var(--algebra-Gradient);
  cursor: pointer;
}

.KolegijInput {
  display: flex;
  flex-direction: column;
}

#displayContainer {
  max-height: 380px;
  height: auto;
  width: 594px;
  overflow: auto;
  border: 1px solid --black-color;
  border-top: none;
  margin-left: 3px;
  border-radius: 5px;
  border-color: #ddd;
}

#displayContainer::-webkit-scrollbar {
  display: none;
}

#outputTable {
  display: none;
  border-collapse: collapse; 
  width: 800px;
} 

#outputTable th, 
#outputTable td { 
  border-top: 1px solid #ddd;
  padding-top: 4px;
  padding-bottom: 4px; 
  padding-left: 10px;
  text-align: center;
  max-width: 345px;
  text-wrap: nowrap;
} 

#outputTable tr:last-child {
  border-bottom: 4px solid var(--algebra-Orange);
}

#outputTable td:first-child {
  text-align: left;
  padding-right: 20px;
  text-wrap: wrap;
  width: 345px;
}

#outputTable td:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding-right: 5px;
}

#outputTable #tipData {
  width: 200px;
}

#outputTable th { 
  text-align: left;
  font-weight: 700;
  text-shadow: 1px 1px 2px white;
}

#deleteBtn {
  background-color: var(--algebra-Purple);
  color: var(--white-color);
  width: 80px;
  height: 35px;
  border-radius: 5px;
  border: 0;
  opacity: 0.7;
  cursor: pointer;
}

#deleteBtn:hover {
  transition: 0.5s;
  opacity: 1;
}

#SumTable {
  border-collapse: collapse; 
  width: 800px;
} 

#SumTable td { 
  padding-top: 4px;
  padding-bottom: 4px; 
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-weight: 700;
  text-shadow: 1px 1px 2px white;
  width: 70px;
}

#SumTable td:first-child {
  width: 345px;
  text-align: left;
}

#SumTable td:nth-child(2) {
  width: 46px;
}

#SumTable td:nth-child(3) {
  width: 40px;
}

#SumTable td:nth-child(4) {
  width: 93px;
}

#SumTable td:last-child {
  width: 60px;
}
