/* navbar */

.nav-link {
  font-size: 17px !important;
  color: rgb(169, 169, 169);
}

/* footer */

.foterWaves {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/svg/layered-waves-haikei.svg");
  position: relative;
  top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Homepage */

.BackgroundVideo {
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.AnimationOverlay {
  z-index: 1;
  position: absolute;
  color: antiquewhite;
}

#TypewriterAnimation {
  color: red;
}

#CursorAnimation {
  color: red;
  animation: blink182 0.7s linear infinite;
}

@keyframes blink182 {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
}

/* O Nama */

.ONamaMap {
  display: flex;
  justify-content: center;
}

.navbarDropdownAnimation {
  max-height: 0;
  overflow: hidden;
  transition: max-height 3s ease-out;
  border: 0px;
  border-radius: 0;
}

.akreditacijeCards {
  width: 80vw;
}

.akreditacijeCardsGroup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fancyTextGroup {
  width: 100%;
  text-align: center;
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.fancyText {
  width: 50vw;
}

.oNamaHeader {
  margin-top: 20px;
  margin-left: 10vw;
  margin-bottom: 0;
}

.orange-line {
  margin-top: 5px;
  margin-bottom: 20px;
  border: none;
  height: 10px;
  background: rgb(219, 114, 24);
  background: linear-gradient(
    43deg,
    rgba(219, 114, 24, 1) 27%,
    rgba(196, 16, 96, 1) 100%
  );
  width: 30%;
  margin-left: 10%;
  border-bottom-right-radius: 50%;
  opacity: 100;
}

#flex-item-photo-one {
  width: 130px;
  padding-top: 10px;
}

#flex-item-photo-two {
  width: 100px;
  padding-top: 10px;
}

#flex-item-photo-four {
  width: 280px;
  padding-top: 10px;
}

#flex-item-photo-six {
  width: 180px;
  padding-top: 10px;
}
/*Novosti*/

.newsButon {
  height: 300px;
  width: 300px;
  overflow: hidden;
  border-radius: 50%;
  border: 15px solid oldlace;
  animation: showPhotos 1s;
}

.newsButonGroup {
  display: flex;
  justify-content: space-around;
  border-radius: 50%;
}
